ssl_certificate         /etc/nginx/ssl/{{ domain_name }}.crt;
ssl_certificate_key     /etc/nginx/ssl/{{ domain_name }}.key;

ssl_protocols           TLSv1.2 TLSv1.3;
ssl_ciphers             HIGH:!aNULL:!MD5;